@import url('https://fonts.googleapis.com/css?family=Overlock');

body {
	background-color: Gainsboro;
}
.container {
	margin-top: 100px;
	width = 600px;
	background-color: GhostWhite;
}

.header {
	border-bottom: 1px solid #878787;
}

.img-circle {
	height: 50%;
	width: 50%;
}

.content {
	border-top: 1px solid #878787;
}

.footer {
	border-top: 1px solid #878787;
}

h1, 
h2 {
	font-family: 'Overlock', cursive;
}

* {
	outline: 1px solid red;
}